<div class="game-wrapper">

    <div class="title">
        <span class="main">SNAKE GAME</span><br>
        <span class="sub">Score: {{score}}</span>
    </div>

    <!-- GAME DISPLAY -->
    <div class="board">
        <canvas id="snakeGameCanvas" class="snake-game-canvas" height="{{canvasHeight}}" width="{{canvasWidth}}">Snake game board</canvas>
    </div>

    <!-- GAME CONTROLS -->
    <div class="controls">
        <div class="start-restart">
            <button type="button" (click)="startGame()" [disabled]="gameStarted">START</button>
            <button type="button" (click)="restartGame()" [disabled]="!gameStarted">RESTART</button>
        </div>
        <div class="directions">
            <div class="direction">
                <button type="button" (click)="changeDirection(DIRECTIONS.UP)">UP</button>
            </div>
            <div class="direction">
                <button type="button" (click)="changeDirection(DIRECTIONS.LEFT)">LEFT</button>
                <button type="button" (click)="changeDirection(DIRECTIONS.RIGHT)">RIGHT</button>
            </div>
            <div class="direction">
                <button type="button" (click)="changeDirection(DIRECTIONS.DOWN)">DOWN</button>
            </div>
            <div>Snake can also be controlled using WASD keys</div>
        </div>
    </div>

</div>